@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(189, 184, 184);
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
    height: 47em;
}

.sidebar-nav {
    padding: 12px;
}

.sidebar-nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px;
}

.sidebar-nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    background-color: yellowgreen;
    display: flex;
   
}
.info-container {
    fill-opacity: inherit;
    /* height: 58vh; */
    width: 80vw;
    background-color: bisque;
    margin: 147px 117px;
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    /* width: 50%; */

    padding: 10px;
    box-shadow: 0px 0px 79px black;
    border-radius: 32px 32px 32px;
}

.devInfo {
    font-size: 16px;
    display: flex;
   border-radius: 50px 0px 0px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 3em;
    padding-left: 17px

}

.name {
    font-size: 3em;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 17px
}

.about {
    font-size: 2.5em;
    padding-left: 17px
}

.moreabout {
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 17px
}

.buttons {
    margin-top: 2.2em;
    font-size: 16px;
    padding-left: 17px
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 3px 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 14px;
    padding: 5px 10px;
    margin: 10px 2px;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.devPic img {
    height: 58vh;
    filter: drop-shadow(0px 13px 14px rgb(41 79 144));
    border-radius: 0px 0px 50px;
}


.contactform {
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    margin: 46px;
    margin-top: -77px;
    margin-left: 103px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    /* padding: 12px 0; */
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    /* width: 22vw; */
    border-radius: 5px;
    font-size: 20px;
    margin: 6px 0 0 0;
    padding: 3px;
}
input:checked + label {
    color: red;
    font-weight: bold;
  }
.contactform form{
    margin-left: 27px; 
}


#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    display: flex;
    flex-direction: row;

}

#form-check input {
    width: 30px;
    margin: 2px;
}

.blogitem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
    background-color: cadetblue;
    box-shadow: 0px 0px 79px black;
    border-radius: 32px 32px 32px;
    padding: 20px;
}

.blogcontainer{
    margin: 13px 141px;
}
h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}
 span {
    color: aqua;
}
h3 {
    margin-left: 42px;
    margin-top: -26px;
    padding-bottom: 26px;
    color: red;
    font-variant-caps: petite-caps;
}

p {
    font-family: 'Source Code Pro', monospace;
}
.intro{
    margin: 147px 117px;
    background-color: bisque;
    box-shadow: 0px 0px 79px black;
    border-radius: 22px 12px 32px;
    padding: 8px 12px;
}
.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

 /***.skillContainer {
   padding: 12px;
}***/

.skillItem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred {
    width: 256px;
    background-color: burlywood;
}

.fifty {
    width: 125px;
    background-color: yellow;
}

.t5 {
    width: 75px;
    background-color: aqua;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
